<div
  class="w-full h-[70vh] flex flex-col items-center justify-center font-mulish"
>
  <div class="relative w-5/6 h-3/4">
    <img
      src="/home/ctashape.jpg"
      alt="CTA Banner"
      class="absolute size-full rounded-lg object-center scale-x-[-1]"
    />
    <div
      class="absolute w-1/2 h-full flex flex-col items-center justify-center gap-2"
    >
      <h1 class="text-7xl text-primary font-bold">Secure your keys</h1>
      <h3 class="text-neutral/70 text-md">
        Start protecting and securing your API credential with ease now.
      </h3>
      <button class="btn">Get Started</button>
    </div>
  </div>
</div>
