<div
  class="navbar bg-base-100 shadow-sm flex flex-row items-center justify-between font-mulish"
>
  <a
    class="text-center text-4xl font-jockeyOne tracking-wider font-normal w-1/6 text-primary cursor-default"
    >APiLocks</a
  >
  <div
    class="flex flex-row items-center justify-center gap-10 w-2/6 text-secondary"
  >
    <a href="" class="hover:underline cursor-pointer">Why APiLocks?</a>
    <a href="" class="hover:underline cursor-pointer">Solution</a>
  </div>
  <a
    class="text-center text-4xl font-jockeyOne tracking-wider font-normal w-1/6 text-primary cursor-default"
    >APiLocks</a
  >
  <div
    class="flex flex-row items-center justify-center gap-10 w-2/6 text-secondary"
  >
    <a href="dashboard" class="hover:underline cursor-pointer">Dashboard</a>
    <a href="" class="hover:underline cursor-pointer">Changelog</a>
  </div>
  <a
    class="text-center text-4xl font-jockeyOne tracking-wider font-normal w-1/6 text-primary cursor-default"
    >APiLocks</a
  >
</div>
