<div
  class="navbar bg-base-100 shadow-sm flex flex-row items-center justify-between font-mulish"
>
  <a
    class="text-center text-4xl font-jockeyOne tracking-wider font-normal w-1/6"
    >APiLocks</a
  >
  <div class="flex flex-row items-center justify-center gap-10 w-2/6">
    <a href="">Why APiLocks?</a>
    <a href="">Solution</a>
  </div>
  <a
    class="text-center text-4xl font-jockeyOne tracking-wider font-normal w-1/6"
    >APiLocks</a
  >
  <div class="flex flex-row items-center justify-center gap-10 w-2/6">
    <a href="">Dashboard</a>
    <a href="">Changelog</a>
  </div>
  <a
    class="text-center text-4xl font-jockeyOne tracking-wider font-normal w-1/6"
    >APiLocks</a
  >
</div>
