<div
  class="w-full h-[90vh] flex flex-col items-center justify-start font-mulish"
>
  <!-- CTA Captions -->
  <div
    class="w-full h-1/3 flex flex-row justify-center items-center gap-10 px-14"
  >
    <div class="w-2/3">
      <h1 class="text-8xl font-bold text-primary">
        Modern service for <br />
        managing API keys
      </h1>
    </div>
    <div class="w-1/3">
      <button class="btn btn-xl text-primary">Get Started Now</button>
      <button class="btn btn-xl btn-active bg-base-200"><></button>
      <p class="text-xl text-neutral/70 pt-2">
        Mitigate risks and ensure compliance. <br />
        Secure your API keys with our robust management platform.
      </p>
    </div>
  </div>
  <!-- Image banner -->
  <div class="w-full h-2/3 px-14">
    <img
      src="/home/landshape.jpg"
      alt=""
      class="size-full rounded-lg object-fill"
    />
  </div>
</div>
