<div class="card card-border bg-base-100 size-full">
  <div class="card-body">
    <h2 class="card-title">Postgres</h2>
    <!-- Label and Input 1-->
    <label class="input">
      <span class="label">Host</span>
      <input
        type="password"
        placeholder="API key"
        class="input"
        value="1234"
        disabled
      />
    </label>
    <!-- Label and Input 1-->
    <label class="input">
      <span class="label">Credentials</span>
      <input
        type="password"
        placeholder="API key"
        class="input"
        value="1234"
        disabled
      />
    </label>
    <div class="card-actions justify-end">
      <button class="btn btn-outline">
        <lucide-icon name="eye" [img]="EyeIcon"></lucide-icon>
      </button>
      <button class="btn btn-dash">
        <lucide-icon name="pencil" [img]="PencilIcon"></lucide-icon>
      </button>
    </div>
  </div>
</div>
