<div
  class="size-full flex flex-col items-center justify-start bg-base-300 py-5 px-2 rounded-l-2xl"
>
  <h1 class="font-bold font-jockeyOne text-2xl hover:cursor-default">
    APiLocks
  </h1>
  <div class="divider"></div>
  <div class="w-full h-full flex flex-col items-center justify-between">
    <div class="w-full h-1/2 flex flex-col items-center justify-start">
      <!-- Dashboard Btn -->
      <button class="btn btn-ghost btn-xl">
        <lucide-icon
          [size]="32"
          name="layout-dashboard"
          [img]="LayoutDashboardIcon"
        ></lucide-icon>
      </button>
      <!-- Settings -->
      <button class="btn btn-ghost btn-xl">
        <lucide-icon
          [size]="32"
          name="settings"
          [img]="SettingsIcon"
        ></lucide-icon>
      </button>
      <!-- Feedback -->
      <button class="btn btn-ghost btn-xl">
        <lucide-icon
          [size]="32"
          name="message-square-heart"
          [img]="MessageSquareHeartIcon"
        ></lucide-icon>
      </button>
    </div>
    <!-- Logout -->
    <button class="btn btn-ghost btn-xl">
      <lucide-icon [size]="32" name="log-out" [img]="LogOutIcon"></lucide-icon>
    </button>
  </div>
</div>
