/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: silk --default;
}

@theme {
  --font-mulish: "Mulish", sans-serif;
  --font-jockeyOne: "Jockey One", sans-serif;
}
